# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django stuff:
db.sqlite3
media/
staticfiles/

# Environments
env/
venv/
ENV/
.venv/
.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Migrations (optional, keep if you want migrations in git)
# ** If you want to ignore all migration files except __init__.py:
# */migrations/*
# !*/migrations/__init__.py
